/************** GENERAL ***********/
/* *{
    outline: 1px dashed red;
} */
body{
    background-color: #111111;
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(7,1fr);
    grid-gap:5px;
}
.grid-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}
 /* .grid-container .item{
    height: 400px;
}  */
/* .grid-container .img1{
   background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/artem-beliaikin@4k-wallpaper-background-beautiful-853199.jpg);
} */
.grid-container .titre{
    font-size: 85px;
    grid-area: 3/1/4/7;
}
.grid-container .text{
    font-size: 50px;
    grid-area: 4/1/5/7;
}

.grid-container .item>h2, .grid-container .item>p{
    color: ivory;
}
.grid-container .fond-gris-fonce{
    background-color: #333333;
}
.grid-container .fond-gris-moyen{
    background-color: #666666 ;
}
.grid-container .fond-gris-clair{
    background-color: #999999 ;
}

@media screen and (min-width:768px) and (max-width:1024px){
    .grid-container{
        display: grid;
        grid-template-rows: repeat(3,1fr);
    }
    .grid-container .titre{
        font-size: 50px;
        grid-area: 3/1/4/4;
    }
    .grid-container .text{
        font-size: 32px;
        grid-area: 3/5/4/8;
    }

}
@media screen and (min-width:1025px){
    .grid-container{
        margin:auto;
        display: grid;
        grid-template-rows: repeat(9,10%);
        grid-template-columns: repeat(9,10%);
        width:80vw;
        height:100vh;
    }

    /* .grid-container .item{
        height:2px;
    } */
    .grid-container .fond-gris-fonce{
        grid-area: 2/3/3/5;
    }
    .grid-container .img1{
        grid-area: 1/5/3/6;
    }
    .grid-container .img2{
        grid-area: 2/7/4/8;
    }
    .grid-container .img3{
        grid-area: 3/2/7/6;
       
    }
     .grid-container .img4{
        grid-area: 3/8/5/9;
    }
  
    .grid-container .img5{
        grid-area: 4/1/6/2;
    }
    .grid-container .img6{
        grid-area: 4/ 6/ 6/8 ;
    }
    
    .grid-container .img7{
        grid-area: 5/ 8/ 6/10 ;
       
    }
    .grid-container .img8{
        grid-area: 6/7 /7 /9 ;
    }
    .grid-container .img9{
        grid-area: 7/4 /9 /6 ; 
    }
    .grid-container .img10{
        grid-area: 7/7 /9 /8 ;
    }
    .grid-container .img11{
        grid-area: 8/6 /10/7;
    }
    .grid-container .fond-gris-moyen{
        grid-area: 6/6 /8/7 ;
    }
    .grid-container .fond-gris-clair{
        grid-area: 7/ 3/8 /4 ;
    }
    .grid-container .titre{
        grid-area: 2/6/4/8 ;
        font-size: 180px;
    }
    .grid-container .text{
        grid-area: 7/ 8/9 /10 ;
        font-size: 94px;
    }

}
